.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* ------RESET обнулені------ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------COMMON------ */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ------HEADER------ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    display: block;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 24px 0;
  }
}

/* ------MOBILE-MENU------ */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close:hover,
.mobile-icon-close:focus {
  fill: #ffffff;
}

.btn-mobile-menu-close:hover,
.btn-mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-mobile-menu-close:hover .mobile-icon-close,
.btn-mobile-menu-close:focus .mobile-icon-close {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.mobile-menu-nav {
  /* меню підлаштовується по висоті */
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-link.current {
  color: #404bbf;
}

.mobile-menu-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts-link.current {
  color: #404bbf;
}

.mobile-menu-list-soc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}

.mobile-menu-item-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mobile-menu-item-soc-link:hover,
.mobile-menu-item-soc-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ------FIRST-SECTION------ */

.first-section {
  padding: 72px 0;
  max-width: 322px;

  margin: 0 auto;

  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobile-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-section {
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-mobile@2x-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.first-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 216px;
  margin: 0 auto 52px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .first-section {
    padding: 112px 0;
    max-width: 768px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet-min.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-tablet@2x-min.jpg");
    }
  }

  .first-section-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
    max-width: 1440px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop-min.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-desktop@2x-min.jpg");
    }
  }

  .first-section-title {
    margin-bottom: 48px;
  }
}

/* ------SECOND-SECTION------ */

.second-section {
  padding: 96px 0;
}

.second-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.second-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.second-section-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}

.second-section-icon {
  display: none;
}

.second-section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.second-section-subtitle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .second-section-list {
    gap: 24px;
    row-gap: 72px;
  }

  .second-section-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .second-section-subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .second-section {
    padding: 120px 0;
  }

  .second-section-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .second-section-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;

    display: flex;
    padding: 24px 100px;
    align-items: center;
    justify-content: center;

    background: #f4f4fd;
  }

  .second-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .second-section-subtitle-text {
    font-weight: 400;
  }

  .second-section-subtitle-text {
    /* change letter-spacing from 0.02em to 0.01em */
    letter-spacing: 0.01em;
  }
}

/* ------THIRD-SECTION------ */

.third-section {
  background-color: #f4f4fd;
  text-transform: capitalize;

  padding: 96px 0;
}

.third-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.third-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.third-section-item {
  display: flex;
  flex-direction: column;

  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.employee-container {
  padding: 32px 0;
}

.third-section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.third-section-subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.third-section-list-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin: 8px 16px 0px;

  width: 232px;
  height: 40px;
}

.item-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.item-soc-link:hover,
.item-soc-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .third-section {
    padding: 96px 0;
  }

  .third-section-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .third-section {
    padding: 120px 0;
  }
}

/* ------FOURTH-SECTION------ */

.fourth-section {
  text-transform: capitalize;

  padding: 96px 0;
}

.fourth-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.fourth-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.fourth-section-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.overlay-text {
  display: none;
}

.fourth-section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.fourth-section-subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .fourth-section-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .fourth-section-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .fourth-section {
    padding: 120px 0;
  }

  .fourth-section-list {
    row-gap: 48px;
  }

  .fourth-section-item {
    width: calc((100% - 48px) / 3);

    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .fourth-section-item:hover,
  .fourth-section-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .thumb {
    position: relative;
    overflow: hidden;
  }

  .overlay-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .thumb:hover .overlay-text,
  .thumb:focus .overlay-text,
  .fourth-section-item:hover .overlay-text,
  .fourth-section-item:focus .overlay-text {
    transform: translateY(0);
  }
}

/* ------FOOTER------ */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-logo .footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

.footer-text-soc {
  font-weight: 500;
}

.footer-list-soc {
  display: flex;
  gap: 16px;
  width: 208px;
  height: 40px;
}

.footer-item-soc-icon .footer-soc:hover,
.footer-item-soc-icon .footer-soc:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

.footer-subscribe-text {
  font-weight: 500;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-email-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;

  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;

  background-color: transparent;
  outline: transparent;

  padding-left: 16px;
  padding-right: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-input:hover,
.footer-email-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-button {
  display: flex;

  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;

  background-color: #4d5ae5;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}

.footer-button-icon-send {
  margin-left: 16px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .container-footer {
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    padding: 0 108px;
  }

  .footer-logo {
    justify-content: flex-start;
  }

  .footer-info {
    align-items: flex-start;
  }

  .footer-subscribe {
    align-items: flex-start;
  }

  .footer-subscribe-form {
    flex-direction: row;
  }

  .footer-email-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    padding: 0 15px;
    gap: 0;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-logo-text {
    margin-right: 120px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

/* ------BACKDROP & MODAL------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 16px 24px;

  border-radius: 4px;
  width: 288px;
  min-height: 623px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(is-open) .modal {
  transform: translate(-50%, -50%);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close:hover,
.modal-icon-close:focus {
  fill: #ffffff;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .modal-icon-close,
.modal-button:focus .modal-icon-close {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;

  padding-left: 38px;
  padding-right: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;

  margin-top: 4px;
}

.modal-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-group-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;

  padding: 8px 16px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* ------CUSTOM CHECKBOX------ */

.form-group-checkbox {
  margin-bottom: 24px;
}

.modal-check-text {
  display: flex;
  align-items: center;
  margin: 16px 0 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  fill: transparent;

  margin-right: 8px;

  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 1158px) {
}
